.bg-green{
  background-color: rgba(0, 39, 70, 0.916);
  color: aliceblue;
}
nav{
  height: 80px;
}
.img-logo{
  height: 8vh;
  width: 13vh;
}
hr {
  position: relative;
  top: 20px;
  border: none;
  height: 3px;
  background: black;
  margin-bottom: 50px;
}